@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply m-8
}

@font-face {
	font-family: "Amsterdam Four";
	font-style: normal;
	font-weight: 500;
	src:
		url(/fonts/amsterdam-four.ttf) format("truetype");
}

.navbar-header {
	font-family: "Amsterdam Four", sans-serif;
}

body {
	@apply min-h-[160vh]
}

.background-primary {
	@apply bg-[#dbd7d3];
}

.background-secondary {
	@apply bg-[#edebe9]
}

.text-primary {
	@apply text-[#2c2c2e]
}

.text-secondary {
	@apply text-[#4a4b4e]
}

.montserrat {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
}


.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 90%;
  overflow: hidden;
  position: relative;
}

.slider {
  width: 80%; /* Szerokość widocznego obszaru */
  overflow: hidden;
}

.slider-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
}

.slider-item {
  flex: 0 0 33.33%; /* Każdy obraz zajmuje 1/3 widocznej szerokości */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}

.arrow-button {
  background-color: #ddd;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s;
}

.arrow-button:hover {
  background-color: #bbb;
}

