@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
.alexandria {
	font-family: "Alexandria", sans-serif;
	font-optical-sizing: auto;
}

.montserrat {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
}

.cormorant {
	font-family: "Cormorant Upright", serif;
	font-optical-sizing: auto;
}

/* Fonts end*/

#contact-form label {
	@apply montserrat font-light text-lg;
}


#contact-form input {
	@apply mt-2 rounded-2xl text-xl p-4 w-full mb-6;
}

#contact-form textarea {
	@apply mt-2 rounded-2xl text-xl p-4 w-full mb-6;
}


#order-form div p {
	@apply relative text-xl ml-4 py-8 text-center w-full cursor-default
}

#order-form {
	@apply montserrat font-light p-16 background-tertiary md:w-[30rem] flex flex-col text-center
}

.form-header {
	@apply bg-[#faf9f9] montserrat font-light text-center text-3xl mb-8 md:w-fit w-full py-6 place-self-center text-primary
}

body {
	@apply p-4 md:p-8
}

.background-primary {
	@apply bg-[#dbd7d3];
}

.background-secondary {
	@apply bg-[#edebe9]
}

.background-tertiary {
	@apply bg-[#f4f3f2]
}

.text-primary {
	@apply text-black
}

.text-secondary {
	@apply text-[#4a4b4e]
}


.slider-container {
	@apply flex items-center justify-center gap-4 w-full overflow-hidden relative;
}

.slider {
	@apply w-full overflow-hidden;
}

.slider-track {
	@apply flex transition-transform ease-in-out duration-500 will-change-transform;
}

.slider-item {
	@apply flex-shrink-0 basis-1/3 flex flex-col items-center text-center gap-2;
}

.footer {
	@apply pt-40 flex flex-col items-center justify-center montserrat text-lg gap-y-4
}

.footer a p {
	@apply ml-4
}

.footer a a {
	@apply ml-4
}
